{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog & Cat Beauty Salon</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item username">Hi, {{ user.username }}</li>
            {% endif %}
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/services/">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn btn-primary ml-auto" href="/quote/">Request A Quote</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link btn btn-danger ml-auto" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link btn btn-info ml-auto" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
    </nav>

    {% block content %}
    {% endblock%}

    <footer class="footer">
        <div class="container">
          <span class="text-muted">Your dog or cat will look like royalty!</span>
        </div>
    </footer>
       
</body>
</html>