{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row jumbotron jumbotron-fluid py-5 bg-pink" style="background-image:url({% static 'img/animals-removebg-preview.png' %});background-position:center center; background-size:contain;background-repeat:no-repeat;">
        <div class="col-6 pt-4">
            <h2 class="pl-3 display-3 text-white">Our Services</h2>
           
        </div>
        <div class="col-6 pt-4">
            
        </div>
    </div>
    <div class="row">
        {% for service in services %}
        <div class="col-12 text-center border border-dark p-3 m-3">
            <h2 class="display-4 {% cycle 'text-warning' 'text-success' %}">{{ service.name }}</h2>
            <p>{{ service.description | safe }}</p>
            <a href="/services/{{service.id}}" class="btn {% cycle 'btn-warning' 'btn-success' %}">View Service</a>
        </div>
        {% endfor %}
    </div>




</div>
{% endblock %}